.App {
  text-align: center;
  height: 100%;
  display:flex;
  max-width: 100%;
}

body{
  overflow-x: hidden;
}

main{
  display:flex;
  flex-direction:column;
  width:100%;
  max-width: 100vw;
  padding:0 0vw;
  height: 100vh;
  overflow-y: scroll;
  margin:0 auto;
}


table{
  width: 100%;
  max-width:100%;
  border:2px solid;
  table-layout: auto;
}
table tr td, table tr th{
  border:1px solid;
}
table tr:nth-child(even){
  background-color: #EEEEEE;
}
table>thead>tr:first-child{
  background-color: #49A69C;
}

td.menutabela{
  width: 40px;
}

ul{
  list-style:none;
}
a{
  text-decoration: none;
}

button{
  background-color: #1B594E;
  color:#F2F2F2;
  border-radius:0.2rem;
  padding:0.3rem 0.5rem;
  max-width: 200px;
  height: 2rem;
  cursor: pointer;
}

form{
  background-color: #f2f2f2;
  border: 0.1rem solid;
  margin: 0 auto;
  width: 500px;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  padding:2%;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #282c34;
}
@media(max-width:768px){
  form{
    width:100%;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }
  main{
    height: 100%;
    overflow-y: hidden;
  }

}

form img{
  background-color: #f2f2f2;
  border:2px solid #1B594E;
  border-radius:50%;
  object-fit:cover;
  width:100px;
  height:100px;
  max-width:100px;
  max-height:100px;
}
h1,h2,h3{
  color: #1B594E;
}



.conteudooculto{
  display: none;
}
.conteudomenuopcoes{
  position:absolute;
  background:white;
  border: 0.1rem solid;
  background:#49A69C;
  box-shadow: 0.2rem 0.1rem 0.2rem #282c34;
  border-radius: 0.2rem;
  right: 0;
}

.dropdown{
  background-color: #1B594E;
  position:relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content{
  right:0;
  width:160px;
  background-color: #1B594E;
  display: none;
  position:absolute;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: #DBD8BD;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background: #49A69C;
  color:#F2F2F2;
}

.dropbtn{
  background-color: #49A69C;
  border-radius: 0;
  color:#F2F2F2;
  font-size: 1rem;
  border:none;
  cursor: pointer;
  transition:all 0.3s;
  width: 40px;
  height: 40px;
}


.controls{
  display: flex;
  flex-direction: column;
  padding:1rem;
}
.controls>label{
  text-align: left;
}
.controls>input{
  height: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.align-items-center{
  align-items: center;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}