.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  display:flex;
  flex-direction:column;
  width:80vw;
  height: 100vh;
  overflow-y: scroll;
  margin:0 auto;
}

.controls{
  padding:1rem;
}
table{
  border:2px solid;
}
table tr td, table tr th{
  border:1px solid;
}
table tr:nth-child(even){
  background-color: #CCCCCC;
}
table tr:first-child{
  background-color: #777777;
}






