
#nav{
  position: sticky;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #49A69C;
  height: 50px;
  margin-top: 0;
  padding: 0.5rem;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.397);

}
#nav a{  
text-decoration: none;    
font-weight: bold;
padding: 0.75rem; 
color: #F2F2F2;
border-radius: 0.5rem;
transition-duration: 0.5s;
text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.397);
}

#nav-logo{
  justify-content: start;
  height: 50px;
}
nav>div>img{
  height: 50px;
}
nav a:hover{
/* border: 5px solid var(--cor1);
border-style:1px solid dashed;*/
box-shadow: 1px 0px 8px  #000 ;

}

@media (min-width: 992px)
{
  #dropmenunav
   {
    display: none;
   }
}
@media (max-width: 992px)
{
  #itemsmenunav
   {
    display: none;
   }
}

#dropmenunav .dropdown-content{
  right:0;
}
@media(min-width: 992px){
  #nav{
    display:none;
  }
}